<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= pokemons.name %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <style>
            ul {
                list-style: circle;
            }
        </style>
        <a href="/pokemon">Back</a>
        <h1><%= pokemons.name %></h1>
        <img src=<%= pokemons.img %>>
        <ul>
            <li>Type:
                <%= pokemons.type %>
            </li>
        </ul>
        <ul>
            <li>
                Hitpoints: <%= pokemons.hp %>
            </li>
            <li>
                Attack: <%= pokemons.attack %>
            </li>
            <li>
                Defense <%= pokemons.defense %>
            </li>
            <li>
                Special Attack: <%= pokemons.spattack %>
            </li>
            <li>
                Special Defense: <%= pokemons.spdefense %>
            </li>
            <li>
                Speed: <%= pokemons.speed %>
            </li>
        </ul>
    </body>
</html>

